html,
body {
  margin: 0;
  background-color: #121212;
  color: #fff;
}

body > :first-child {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
